// Name:            Accordion
//
// Component:       `accordion`
//
// Modifiers:       'panel-group-continuous'
//                  'panel-group-simple'
//
// Markup:
//
// ========================================================================

// Variables
// ========================================================================

$accordion-panel-color:                   $text-color !default;
$accordion-panel-border:                  $border-color-base !default;

// Component: Accordion
// ========================================================================

.panel-group {
   // Tighten up margin so it's only between panels
   .panel {
    box-shadow: none;
  }

  .panel-title {
    &:hover,
    &:focus {
      color: $accordion-panel-color;
    }
  }

  .panel-heading {
    border-bottom: 0;

    + .panel-collapse {
      > .list-group {
        border-top: 1px solid $panel-inner-border;
      }
    }
  }

  .panel-footer {
    border-top: 0;
    + .panel-collapse .panel-body {
      border-bottom: 1px solid $panel-inner-border;
    }
  }
}


// Modifier: `panel-group-continuous`
// ========================================================================

.panel-group-continuous {
  .panel + .panel {
    border-top: 1px solid $accordion-panel-border;
  }
}


// Modifier: `panel-group-simple`
// ========================================================================

.panel-group-simple {
  .panel {
    background: transparent;
    box-shadow: none;
  }
}
