
.site-navbar {
  background-color: $site-navbar-header-bg;

  .navbar-header {
    background-color: transparent;
    color: $site-navbar-header-color;
    height: inherit;// for navbar fixed
    //by huanran
    width: $site-menubar-width;
    transition: width .25s;

    .navbar-toggler {
      color: $site-navbar-header-color;
    }

    .hamburger {
      &:before,
      &:after,
      .hamburger-bar {
        background-color: $site-navbar-header-color;
      }
    }

    .navbar-brand {
      float: none;
      margin-right: 0;
      color: $site-navbar-brand-color;
      font-family: $brand-font-family;
      cursor: pointer;
      text-align: center;

      @include text-truncate();

      &-logo {
        height: 22px;
        transition: height .25s;
      }

      &-text {
        display: none;
      }
    }

    @include media-breakpoint-up(md) {
      width: $site-menubar-fold-width;
    }
  }

  .navbar-container {
    @include media-breakpoint-up(md) {
      // margin-left: $site-menubar-fold-width;
      margin-left: 0;// for navbar fixed
      transition: margin-left .25s;

      // .dropdown-mega >.dropdown-menu {
      //   margin-left: $site-menubar-fold-width;
      // }
    }

    background-color: $inverse;
  }

  &.navbar-inverse {
    .navbar-container {
      background-color: transparent;
    }
  }
}

// for navbar fixed
//===============================================
@include media-breakpoint-down(sm) {
  .site-navbar.navbar {
    .navbar-header {
      flex: 1 1 auto;
    }

    .navbar-collapse {
      flex: 1 1 100%;
    }

    .navbar-search {
      flex: 1 1 100%;
    }
  }
}
