.layout-full {
  height: 100%;
  padding-top: 0 !important;

  .page {
    height: 100%;
    padding: 0;
    margin: 0 !important;
    background-color: transparent;
  }

  > .loader {
    margin-left: 0 !important;
  }
}