@import "vars";

.page-code-editor {
  .page {
    height: calc(100% - 44px);

    &-main,
    &-content {
      padding: 0;
      height: 100%;
    }

    // &-aside {
    //   overflow-y: auto;
    // }
  }

   .page-aside {
    // height: 100%;

    &-inner {
      height: 100%;
    }
  }

  .treeview {

    .list-group-item.node-filesTree {
      padding-top: 8px;
      padding-bottom: 8px;
    }

    .list-group-item.node-selected {

      &, & .node-icon {
        color: $brand-primary;
      }

      background-color: $gray-100;
    }
  }

  .CodeMirror {
    height: 100%;
  }
}
