@import "vars";


.page-profile {
  .card {
    &-block {
      padding: 40px 15px;
      background-color: $color-white;
    }

    &-footer {
      padding: 10px;
      background-color: #f6f9fd;
      border-top: none;
    }

    .avatar {
      width: 130px;
      margin-bottom: 10px;
    }
  }

  .profile-user {
    margin-bottom: 10px;
    color: $gray-800;
  }

  .profile-job {
    margin-bottom: 20px;
    color: $gray-400;
  }

  .profile-social {
    margin: 25px 0;

    .icon {
      margin: 0 10px;
      color: $icon-color;
    }
  }

  .profile-stat-count {
    display: block;
    margin-bottom: 3px;
    color: $gray-600;
    font-size: 20px;
    font-weight: $font-weight-light;

    & + span {
      color: $gray-400;
    }
  }
  
  .page-content {
    .list-group-item {
      padding: 25px 15px;
      border-top-color: $border-color-base;

      &:first-child {
        border-top: transparent;
      }

      &:last-child {
        border-bottom-color: $border-color-base;
      }

      .media {
        .avatar {
          width: 50px;
        }

        small {
          color: $gray-400;
        }

        &-heading {
          font-size: 16px;

          span {
            margin-left: 5px;
            color: $gray-500;
            font-size: $font-size-base;
          }
        }

        .media:first-child {
          border-top: none;
        }
      }
    }
  }

  .profile-readMore {
    margin: 40px 0;
  }

  .profile-brief {
    margin-top: 20px;
  }

  .profile-uploaded {
    float: left;
    max-width: 220px;
    width: 100%;
    max-height: 150px;
    padding: 0 20px 20px 0;
  }
}
